<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>


    <!-- Angular Js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <script type="text/javascript" th:src="@{/js/routeProvider.js}"/>
    <script type="text/javascript" th:src="@{/js/indexControllers.js}"/>
    <script type="text/javascript" th:src="@{/js/indexServices.js}"/>
 <!-- -->
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#registration">Page 1-1 works</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li><a href="#viewStudents">Page 2 works</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
elo
<div ng-app="mainApp">


    <div ng-view="true"></div>

</div>

</body>
</html>